name: CodeSign Demonstration

# Trigger this workflow on a push
on: [push]

# Create an environment variable
env:
  PROJECT_NAME: CodeSignFile
  PROJECT_VERSION: 0.0.1

# Defines a single job named "build-and-sign-jar"
jobs:
  build-and-sign-jar:
    # Run job on Ubuntu Runner
    runs-on: ubuntu-latest
    # When the workflow runs, this is the name that is logged
    name: CodeSigner on Java with Maven
    steps:
      # 1) Check out the source code so that the workflow can access to the unsigned file
      - name: Checkout Repository
        uses: actions/checkout@v4

      # A debugging step (Can be removed)
      - name: setup credentials helper
        shell: bash
        run: |
          cat README.md

      # 2) This is the step where the file(See file_path) will be signed with CodeSignTool and exported
      - name: Sign Artifact with CodeSignTool
        uses: sslcom/esigner-codesign@develop
        with:
          # Sign and timestamp code object.
          command: sign
          # SSL.com account username
          username: esigner_demo
          # SSL.com account password.
          password: esignerDemo#1
          # Credential ID for signing certificate.
          credential_id: 8b072e22-7685-4771-b5c6-48e46614915f
          # OAuth TOTP Secret (https://www.ssl.com/how-to/automate-esigner-ev-code-signing)
          totp_secret: RDXYgV9qju+6/7GnMf1vCbKexXVJmUVr+86Wq/8aIGg=
          # Path of code object to be signed. (DLL, JAR, EXE, MSI files vb... )
          file_path: input/esbuild.exe
          # Directory where signed code object(s) will be written.
          output_path: signed
          # Scan code before sign
          malware_block: false
          # Environment Name, For Production 'PROD' or For Staging 'TEST'
          environment_name: TEST

        # 3) This uploads artifacts from your GitHub action allowing you to share data between jobs and store data once a workflow is complete
      - name: Upload Signed Files
        uses: actions/upload-artifact@v4
        with:
          name: esbuild.exe
          path: signed/esbuild.exe

      # A debugging step (Can be removed)
      - name: setup credentials helper
        shell: bash
        run: |
          cat README.md
